.log {
  width: 30%;
  height: 100%;
  flex: 0 2 200px;
  display: flex;
  flex-direction: column;
}

.log-label {
  margin: 10px;
}

.log-panel {
  padding: 5px;
  border: solid 1px lightblue;
  border-radius: 4px;
  flex-basis: 100%;
  max-height: 88%;
  overflow: auto;
}

.log-item {
  margin-bottom: 2px;
  padding: 1px;
  font-size: 0.75rem;
}

.log-item:last-of-type {
  margin-bottom: 0;
}

.log-item.danger {
  color: red;
}